{% extends "base.html" %}

{% block title %}출결 현황{% endblock %}

{% block content %}

<div class="content">
    <div class="content-container">
        <div class="content-header">
            <button class="header-back-btn" onclick="location.href='/dashboard'"><i class="fi fi-rr-angle-left"></i></button>
            <h2>출결 현황</h2>
            {% if session.get('is_admin') %}
                <button class="edit-btn" onclick="location.href='/attendance/edit'">
                    <i class="fi fi-rr-edit"></i>
                    출결 수정
                </button>
            {% endif %}

        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>이름</th>
                        {% for date in dates %}
                            <th>{{ date }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for name, row in table.items() %}
                    <tr>
                        <td>
                            <span>{{ loop.index0 + 1 }}</span>
                        </td>
                        <td><strong>{{ name }}</strong></td>
                        {% for status in row %}
                            {% if status %}
                                <td>
                                    <span class="status {{status}}">{{ status }}</span>
                                </td>

                            {% else %}
                                <td>
                                    <span class="status none">--</span>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

