<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 - 비츠플로우</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body class="login">
<div class="container">
    <h1 class="h1">BeatzFlow</h1>
    <div class="login_container">
        <div class="login_c">
            <p>로그인 방법을 선택하세요</p>
            <button class="btn" onclick="location.href='/login/leader'">
                <i class="fi fi-rr-lock"></i> 팀장 로그인
            </button>
            <form method="POST" action="{{ url_for('login') }}">
                <button class="btn">
                    <i class="fi fi-rr-user"></i> 팀원 로그인
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
<script>
</script>
