<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 - 비츠플로우</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body class="login">
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script type="text/javascript">
                alert("{{messages[-1]}}");
            </script>
        {%endif%}
    {%endwith%}
    <div class="container">
        <h1 class="h1">BeatzFlow</h1>
        <div class="login_container">
            <button class="back-btn" onclick="location.href='/login'"><i class="fi fi-rr-angle-left"></i></button>
            <div class="login_c">
                <form method="POST" action="{{ url_for('login_leader') }}">
                    <div id="admin-fields">
                        <input type="text" id="username" name="username" placeholder="ID"><br>
                        <input type="password" id="password" name="password" placeholder="Password"><br>
                    </div>
                    <button class="login-btn" type="submit">로그인</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script>
  function toggleAdminFields() {
    document.getElementById('username').setAttribute('required', 'required');
    document.getElementById('password').setAttribute('required', 'required');
  }

</script>