{% extends "base.html" %}

{% block title %}공지사항{% endblock %}

{% block content %}
<div class="content">
    <div class="content-container">
        <div class="content-header">
            <button class="header-back-btn" onclick="location.href='/dashboard'"><i class="fi fi-rr-angle-left"></i></button>
            <h2>공지사항</h2>
            {% if session.get('is_admin') %}
                <button class="upload" onclick="openModal()">
                    <i class="fi fi-rr-pencil"></i>
                    공지 등록
                </button>
            {% endif %}
        </div>
        <div class="modal">
            <div class="modal-content" id="upload-notice">
                <form method="post" action="{{ url_for('new_notice') }}">
                    <div class="form-header">
                        <h2>공지사항 등록</h2>
                        <button class="close-btn" onclick="closeModal()">X</button>
                    </div>
                    <div>
                        <p>제목</p>
                        <input type="text" name="title" placeholder="제목을 입력하세요" required>
                        <p>내용</p>
                        <textarea name="content" rows="10" cols="50" required></textarea>
                    </div>
                    <button class="form-btn" type="submit">
                        <i class="fi fi-rr-pencil b"></i>
                        등록
                    </button>
                </form>
            </div>
        </div>
        {% if notices|length > 0 %}
            <table class="notice">
                <thead>
                    <tr>
                        <th width="36px"></th>
                        <th>제목</th>
                        <th width="180px">등록일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                        <tr onclick="location.href='/notices/{{ notice.id }}'">
                            <td>
                                <span>{{ loop.index0 + 1 }}</span>
                            </td>
                            <td>
                                <span>{{ notice.title }}</span>
                            </td>
                            <td>
                                <span>{{ notice.created_at[:10] }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div id="none">
                공지사항이 없습니다.
            </div>
        {% endif %}
    </div>
</div>

<script>
    function openModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = "block";
    }

    function closeModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = "none";
    }
</script>


{% endblock %}
