{% extends "base.html" %}

{% block title %}공지사항 수정{% endblock %}

{% block content %}
<div class="content">
    <div class="content-container">
        <div class="content-header">
            <button class="header-back-btn" onclick="location.href='/notices'"><i class="fi fi-rr-angle-left"></i></button>
            <h2>공지사항</h2>
            <div>
                <button onclick="submitChanges()">확인</button>
                <button onclick="location.href='/notices/{{ notice.id }}'">취소</button>
            </div>
        </div>
        <div class="notice-content">
            <form method="post" id="notice-change">
                <input type="text" name="title" value="{{ notice.title }}" required>
                <p id="notice-date">{{ notice.created_at[:10] }}</p>
                <textarea name="content" rows="10" cols="50" required>{{ notice.content }}</textarea>
            </form>
        </div>
    </div>
</div>

<script>
    function submitChanges(){
        const form = document.getElementById("notice-change");
        if (confirm("수정된 내용을 저장하시겠습니까?")) {
            form.submit(); // 여기서 서버로 전송되고 페이지가 새로고침 됩니다.
        }
    }
</script>

{% endblock %}