{% extends "base.html" %}

{% block title %}공지사항 등록{% endblock %}

{% block content %}
<div class="content">
    <div class="content-container">
        <div class="content-header">
            <button class="header-back-btn" onclick="location.href='/notices'"><i class="fi fi-rr-angle-left"></i></button>
            <h2>공지사항</h2>
            {% if session.get('is_admin') %}
                <div>
                  <button onclick="location.href='/notices/{{ notice.id }}/edit'">
                      <i class="fi fi-rr-edit"></i>
                      수정
                  </button>
                  <button class="delete-notice" onclick="deleteNotice('{{ notice.id }}')">
                      <i class="fi fi-rr-trash"></i>
                      삭제
                  </button>
                </div>
            {% endif %}
        </div>
        <div class="notice-content">
            <h2>{{ notice.title }}</h2>
            <p>{{ notice.created_at[:10] }}</p>
            <div>{{ notice.content }}</div>
        </div>
    </div>
</div>

<script>
    function deleteNotice(id){
        if (confirm("공지사항을 삭제하시겠습니까?")) {
            fetch(`/notices/${id}/delete`, {
                method: 'POST'
            }).then(() => window.location.replace("/notices"));
        }
    }
</script>

{% endblock %}
